body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 62.5%;
}

#wrapper {
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: 0px 5px 5px #cccccc;
	
	width: 705px;
	margin: 10px;
	padding: 20px;
}

#wrapper h1 {
	font-size: 1.8em;
	text-align: center;
}

#wrapper h2 {
	font-size: 1.6em;
	text-align: center;
}

#wrapper p {
	font-size: 1.2em;
	text-align: left;
}

#wrapper img.left {
	float: left;
	padding: 7px 10px 0 0;
}

#wrapper img.right {
	float: right;
	padding: 7px 0 0 10px;
}

#wrapper.cover {
  padding-top: 300px;
  min-height: 680px;
}