body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 62.5%;
}

#wrapper {
	padding: 20px;
	margin: 10px auto;
	-webkit-box-shadow: 0px 5px 5px #cccccc;
}

#wrapper h1 {
	font-size: 1.8em;
	text-align: center;
}

#wrapper h2 {
	font-size: 1.6em;
	text-align: center;
}

#wrapper p {
	font-size: 1.2em;
	text-align: left;
}

#wrapper img.left {
	float: left;
	padding: 7px 10px 0 0;
}

#wrapper img.right {
	float: right;
	padding: 7px 0 0 10px;
}



/* iPad [portrait] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) { 
	#wrapper {
		width: 708px;
		border: 1px solid red;
	}
	
	#wrapper.cover {
		padding-top: 300px;
		min-height: 680px;
	}
}

/* iPad [landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	#wrapper {
		width: 964px;
		border: 1px solid green;
	}
	
	#wrapper.cover {
		padding-top: 300px;
		min-height: 424px;
	}
}

/* iPhone [portrait] */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:portrait) { 
	#wrapper {
		width: 260px;
		border: 1px solid red;
	}
	
	#wrapper img {
		width: 120px;
	}
	
	#wrapper.cover {
		padding-top: 100px;
		min-height: 336px;
	}
}

/* iPhone [landscape] */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:landscape) {
	#wrapper {
		width: 420px;
		border: 1px solid green;
	}
	
	#wrapper img {
		width: 200px;
	}
	
	#wrapper.cover {
		padding-top: 100px;
		min-height: 176px;
	}
}